@import "tailwindcss";
@import './base.css';

@theme {
  --font-family-sans: 'Inter', sans-serif;
}

#app {
  /* max-width: 1280px;
  padding: 2rem;
  font-weight: normal; */
  width: 100%;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
}

button {
  transition: 0.4s;
}
.button-bg-primary {
  background-color: var(--color-primary);
  border-radius: 8px;
}

.bg-primary-dark { 
  background-color: var(--color-background-dark);
}

.text-primary {
  color: var(--color-primary);
}

hr {
  border: none;
  border-top: 0.5px solid var(--color-border);
}

.text-muted {
  color: var(--vt-c-white-mute);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


@media (hover: hover) {
  /* a:hover, button:hover {
    background-color: hsla(0, 0%, 7%, 0.103);
  } */
}

@media (min-width: 1024px) {
  body {
    /* display: flex; */
    place-items: center;
  }

  #app {
    display: grid;
    min-width: 528px;
  }
}
